@model Therapim.Models.CourseResponseModel
@{
    ViewData["Title"] = " コース";
}
@section CustomStyles {
    <link rel="stylesheet" href="~/css/courses.css" asp-append-version="true" />
}
@section CustomScripts {
    <script src="~/js/courses.js" asp-append-version="true"></script>
}

<div class="courses-container">
    <h2>@ViewData["Title"]</h2>

    <div class="course-list">
        @foreach (var item in Model.SqlContent)
        {
            <section class="course-item">
                <div class="course-label"></div>
                <div class="course-content"></div>                
                <div class="course-addInfo">
                    <div>補足情報1</div>
                    <div>補足情報2</div>
                    <div>補足情報3</div>
                </div>
                <div class="course-addInfo-navi">詳細を見る <span class="course-addInfo-icon"></span></div>

                <!--
                <div>@item.CourseNameDisp</div>
                <div>@item.Price</div>
                <div>@item.PriceAddInfo</div>
                <div>@item.Description</div>
                <div>@item.AddInfo1</div>
                <div>@item.AddInfo2</div>
                <div>@item.AddInfo3</div>
                <div>@item.AddInfo4</div>
                <div>@item.AddInfo5</div>
                <div>@item.Target</div>
                <div>@item.Level</div>
                <div>
                    <img class="" src="@item.CourseImagePath1" />
                </div>                
                <div>@item.CourseImagePath2</div>
                <div>@item.CourseImagePath3</div>                
                <div>
                    <iframe src="@item.CourseVideoPath1" width="640" height="480" allow="autoplay"></iframe>
                </div>
                <div>
                    <iframe width="560" height="315" src="@item.CourseVideoPath2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>                
                <div>@item.CourseVideoPath3</div>

                -->

            </section>
        }
    </div>

    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="course-guide">
                <span class="visited-times">これやめるかも⇒あなたのご来店回数は●回です。</span>
                <span class="visited-times-navi">※ご来店回数について</span>
            </div>
        }else
        {
            <div class="course-guide">
                <span>初めての方は、以下のコースからお選びいただけます。</span>                
            </div>
        }
    </div>
</div>