@model Therapim.Models.ReviewResponseModel
@{
    ViewData["Title"] = "Review List";
}


<h2>Reviews</h2>

<table class="table">
    <thead>
        <tr>
            <th>Review ID</th>
            <th>Author</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Posted At</th>
            <th>Title</th>
            <th>Content</th>
            <th>Rating</th>            
            <th>編集</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SqlContent)
        {
            <tr>
                <td>@item.ReviewId</td>
                <td>@item.Author</td>
                <td>@item.Gender</td>
                <td>@item.Age</td>
                <td>@item.PostedDateTime</td>
                <td>@item.Title</td>
                <td>@item.Content</td>
                <td>@item.Rating</td>
                @if (ViewData["UserId"]?.ToString() == item.UserId && ViewData["UserId"]?.ToString() != "")
                {
                    <td>
                        <a href="/Review/Edit?reviewId=@item.ReviewId" class="btn">Edit</a>
                        <!--
                        <form asp-controller="Review" asp-action="Edit" method="post">
                            <input type="hidden" name="reviewId" value="@item.ReviewId" />
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </form>
                        -->
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>

@if (User.Identity.IsAuthenticated)
{
    <div>
        <!--
        <form asp-controller="Login" asp-action="XtLogout" method="post" style="display:inline;">
            <button type="submit">ログアウト</button>
        </form>
        -->
        <a class="nav-link text-dark" asp-area="" asp-controller="Review" asp-action="Create">Review新規登録</a>
    </div>
}