@model Therapim.Models.ReviewResponseModel
@{
    ViewData["Title"] = " Review";
}
@section CustomStyles {
    <link rel="stylesheet" href="~/css/reviews@((Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Production" ? ".min" : "")).css" asp-append-version="true" />
}

<div class="reviews-container">
    <h2 class="page-title"><span class="english">@ViewData["Title"]</span></h2>

    <div class="review-list-guide-section">
        <span>
            口コミページの案内文です。口コミページの案内文です。口コミページの案内文です。
        </span>
    </div>
    <div class="review-list">
        @foreach (var item in Model.SqlContent)
        {
            <section class="review-item">
                <div class="review-header">
                    <span class="review-rating">
                        @for (int i = 0; i < item.Rating; i++)
                        {
                            <span class="star">★</span>
                        }
                    </span>
                    <span class="review-authorInfo">
                        <span class="review-author">@item.Author</span>
                        <span class="review-age">@item.Age 代</span>
                        <span class="review-gender">@item.Gender</span>
                    </span>
                </div>
                <div class="review-title">
                    <strong>@item.Title</strong>
                </div>
                <div class="review-content">
                    @item.Content
                </div>
                <div class="review-posted-at">
                    <span class="english">Posted at: @item.PostedDateTime</span>
                </div>
                @if (ViewData["UserId"]?.ToString() == item.UserId && ViewData["UserId"]?.ToString() != "")
                {
                    <div class="review-edit">
                        <a href="/Review/Edit?reviewId=@item.ReviewId" class="btn btn-primary clickLoadingDisp">編集する</a>
                    </div>
                }
            </section>
        }
    </div>

    <div>
        <div class="revirew-create-guide">
            @if (User.Identity.IsAuthenticated)
            {
                    <a asp-area="" asp-controller="Review" asp-action="Create" class="btn btn-primary">口コミを投稿する</a>                            
            }else
            {
                <span>口コミ投稿の案内文です。口コミ投稿の案内文です。口コミ投稿の案内文です。</span>
                    <a asp-area="" asp-controller="Login" asp-action="Index"　class="btn btn-primary">ログイン</a>         
            }
            <span class="review-coupon-navi">※モーダルの案内文</span>
        </div>
    </div>
</div>
<div class="review-coupon-guide-modal-bk">
    <div class="review-coupon-guide-modal">
        <span>モーダルの本文です。</span>
        <span><strong>モーダルの本文です。</strong></span>
    </div>
</div>

@section CustomScripts {
    <script src="~/js/reviews@((Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Production" ? ".min" : "")).js"></script>
}
