@model Therapim.Models.ReviewResponseModel
@{
    ViewData["Title"] = " 口コミ";
}
@section CustomStyles {
    <link rel="stylesheet" href="~/css/reviews.css" asp-append-version="true" />
}

<div class="reviews-container">
    <h2>@ViewData["Title"]</h2>

    <div class="review-list">
        @foreach (var item in Model.SqlContent)
        {
            <section class="review-item">
                <div class="review-header">
                    <span class="review-rating">
                        @for (int i = 0; i < item.Rating; i++)
                        {
                            <span class="star">★</span>
                        }
                    </span>
                    <span class="review-authorInfo">
                        <span class="review-author">@item.Author</span>
                        <span class="review-age">@item.Age</span>
                        <span class="review-gender">@item.Gender</span>
                    </span>
                </div>
                <div class="review-title">
                    <strong>@item.Title</strong>
                </div>
                <div class="review-content">
                    @item.Content
                </div>
                <div class="review-posted-at">
                    Posted at: @item.PostedDateTime
                </div>
                @if (ViewData["UserId"]?.ToString() == item.UserId && ViewData["UserId"]?.ToString() != "")
                {
                    <div class="review-edit">
                        <a href="/Review/Edit?reviewId=@item.ReviewId" class="btn btn-primary">編集</a>
                    </div>
                }
            </section>
        }
    </div>

    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <!--
            <div>                
                <form asp-controller="Login" asp-action="XtLogout" method="post" style="display:inline;">
                    <button type="submit">ログアウト</button>
                </form>                
                <a class="nav-link text-dark" asp-area="" asp-controller="Review" asp-action="Create">Review新規登録</a>
            </div>
                -->
            <div class="revirew-create-guide">
                <!--
                <span>口コミを投稿いただくと、次回¥500割引が適用されます。</span>
                <span>メンズセラピストサロンナビの口コミも同様に適用されますので、両方お書きいただくと¥1,000割引となります。</span>
                <a href="https://mtsnavi.com/ty104/"><span>メンズセラピストサロンナビ（THERAPIMのページ）</span></a>
                -->
                <a asp-area="" asp-controller="Review" asp-action="Create" class="btn btn-primary">口コミを投稿する</a>
                <span class="review-coupon-navi">口コミ割引について</span>
            </div>
        }else
        {
            <div class="revirew-create-guide">
                <span>ご来店いただいたことのあるお客様は、ログインすることで口コミをご投稿いただけます。</span>
                <a asp-area="" asp-controller="Login" asp-action="Index"　class="btn btn-primary">ログイン</a>
            </div>
        }
    </div>
</div>
<div class="review-coupon-guide-modal-bk">
    <div class="review-coupon-guide-modal">
        <span>口コミを投稿いただくと、次回¥500割引が適用されます。</span>
        <span>メンズセラピストサロンナビの口コミも同様に適用されますので、両方お書きいただくと¥1,000割引となります。</span>
        <a href="https://mtsnavi.com/ty104/"><span>メンズセラピストサロンナビ（THERAPIMのページ）</span></a>
    </div>
</div>